/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding-bottom: 50px; /* Avoid footer overlap */
}

header {
    background-color: #4CAF50; /* Hijau, simbol kesuburan dan kedamaian */
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.section:nth-child(odd) {
    background-color: #f9f9f9;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #4CAF50;
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
